<h2>Find Movie Pass Theaters</h2>

<%= form_tag theaters_path, method: :post, remote: true do %>
  <%= label_tag :search %>
  <%= text_field_tag :search_term %>
  <%= hidden_field_tag :search_type, :zip %>
  <%= submit_tag :search %>
<% end %>

<h3>Quick Search:</h3>

<%= link_to 'Washington', theaters_path(search_type: 'city', search_term: 'Washington'), remote: true, method: :post %>
<%= link_to 'New York', theaters_path(search_type: 'city', search_term: 'New York'), remote: true, method: :post %>
<%= link_to 'Los Angeles', theaters_path(search_type: 'city', search_term: 'Los Angeles'), remote: true, method: :post %>
<%= link_to 'Chicago', theaters_path(search_type: 'city', search_term: 'Chicago'), remote: true, method: :post %>

<section id="results"></section>
